---
- name: install metal lb operator
  ansible.builtin.include_role:
    name: install_operator
  vars:
    install_operator_action: install
    install_operator_name: metallb-operator
    install_operator_namespace: "{{ ocp4_workload_metal_lb_namespace }}"
    install_operator_channel: "{{ ocp4_workload_metal_lb_channel }}"
    install_operator_catalog: redhat-operators
    install_operator_automatic_install_plan_approval: "{{ ocp4_workload_metal_lb_automatic_install_plan_approval | default(true) }}"
    install_operator_starting_csv: "{{ ocp4_workload_metal_lb_starting_csv }}"
    install_operator_catalogsource_setup: "{{ ocp4_workload_metal_lb_use_catalog_snapshot | default(false) }}"
    install_operator_catalogsource_name: "{{ ocp4_workload_metal_lb_catalogsource_name | default('') }}"
    install_operator_catalogsource_namespace: "{{ ocp4_workload_metal_lb_namespace }}"
    install_operator_catalogsource_image: "{{ ocp4_workload_metal_lb_catalog_snapshot_image | default('') }}"
    install_operator_catalogsource_image_tag: "{{ ocp4_workload_metal_lb_catalog_snapshot_image_tag | default('') }}"

- name: Create metal lb instance
  kubernetes.core.k8s:
    state: present
    namespace: "{{ ocp4_workload_metal_lb_namespace }}"
    template: metal-lb-instance.yml.j2

- name: Retrieve node info
  k8s_info:
    api_version: v1
    kind: Node
  register: r_nodes_info

- name: Set fact with the first node's internal IP
  set_fact:
    _ocp4_workload_metal_lb_node_internal_ip: >-
      {{
        r_nodes_info.resources[0].status.addresses
        | selectattr('type', 'equalto', 'InternalIP')
        | map(attribute='address')
        | first
      }}

- name: Extract subnet from IP
  set_fact:
    _ocp4_workload_metal_lb_node_ip_subnet: "{{ _ocp4_workload_metal_lb_node_internal_ip.split('.')[:3] | join('.') }}"

- name: Create ip address pool
  kubernetes.core.k8s:
    state: present
    namespace: "{{ ocp4_workload_metal_lb_namespace }}"
    template: "{{ item }}"
  loop:
  - ip-address-pool.yml.j2
  - l2-advertisement.yml.j2