apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-l2-advertisement
spec:
  ipAddressPools:
    - default-address-pool
{% if ocp4_workload_metal_lb_match_labels is defined %}
  serviceSelector:
    matchLabels: {{ ocp4_workload_metal_lb_match_labels }}
{% endif %}
