apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: model-as-a-service
  namespace: openshift-gitops
spec:
  destination:
    namespace: maas-api
    server: 'https://kubernetes.default.svc'
  ignoreDifferences:
    - group: '*'
      jqPathExpressions:
        - '.imagePullSecrets[] | select(.name | contains("-dockercfg-"))'
      kind: ServiceAccount
  project: default
  source:
    helm:
      valuesObject:
        clusterDomain: {{ openshift_cluster_ingress_domain }}
        apiUsers:
        {{ ocp4_workload_openshift_ai_model_as_a_service_api_users | to_yaml | indent(8) }}
        llmInferenceServices:
        {{ ocp4_workload_openshift_ai_model_as_a_service_models | to_yaml | indent(8) }}
    repoURL: {{ ocp4_workload_openshift_ai_model_as_a_service_helm_repo }}
    targetRevision: {{ ocp4_workload_openshift_ai_model_as_a_service_helm_repo_target_revision }}
    path: ./
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 2m
      limit: -1
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true