apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: model-as-a-service
  namespace: openshift-gitops
spec:
  destination:
    namespace: maas-api
    server: 'https://kubernetes.default.svc'
  ignoreDifferences:
    - group: '*'
      jqPathExpressions:
        - '.imagePullSecrets[] | select(.name | contains("-dockercfg-"))'
      kind: ServiceAccount
  project: default
  source:
    helm:
      valuesObject:
        clusterDomain: {{ openshift_cluster_ingress_domain }}
        apiUsers:
{% for user_group in ocp4_workload_openshift_ai_model_as_a_service_api_users.tierFreeUsers | default([]) %}
{% for i in range(1, user_group.count + 1) %}
        - username: {{ user_group.username_prefix }}{{ i if user_group.count > 1 else '' }}
          apiKey: {{ lookup('password', '/dev/null length=20 chars=ascii_letters,digits') }}
          tier: tier-free-users
{% endfor %}
{% endfor %}
{% for user_group in ocp4_workload_openshift_ai_model_as_a_service_api_users.tierPremiumUsers | default([]) %}
{% for i in range(1, user_group.count + 1) %}
        - username: {{ user_group.username_prefix }}{{ i if user_group.count > 1 else '' }}
          apiKey: {{ lookup('password', '/dev/null length=20 chars=ascii_letters,digits') }}
          tier: tier-premium-users
{% endfor %}
{% endfor %}
{% for user_group in ocp4_workload_openshift_ai_model_as_a_service_api_users.tierEnterpriseUsers | default([]) %}
{% for i in range(1, user_group.count + 1) %}
        - username: {{ user_group.username_prefix }}{{ i if user_group.count > 1 else '' }}
          apiKey: {{ lookup('password', '/dev/null length=20 chars=ascii_letters,digits') }}
          tier: tier-enterprise-users
{% endfor %}
{% endfor %}
        llmInferenceServices:
        {{ ocp4_workload_openshift_ai_model_as_a_service_models | to_yaml | indent(8) }}
    repoURL: {{ ocp4_workload_openshift_ai_model_as_a_service_helm_repo }}
    targetRevision: {{ ocp4_workload_openshift_ai_model_as_a_service_helm_repo_target_revision }}
    path: ./
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 2m
      limit: -1
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true