---
- name: Create model-as-a-service application
  kubernetes.core.k8s:
    state: present
    template: model-as-a-service-application.yml.j2

- name: Wait for model to be synced and healthy
  kubernetes.core.k8s_info:
    api_version: argoproj.io/v1alpha1
    kind: Application
    name: model-as-a-service
    namespace: openshift-gitops
  register: r_argocd_app
  until:
    - r_argocd_app.resources | length > 0
    - r_argocd_app.resources[0].status is defined
    - r_argocd_app.resources[0].status.sync is defined
    - r_argocd_app.resources[0].status.sync.status is defined
    - r_argocd_app.resources[0].status.sync.status == "Synced"
    - r_argocd_app.resources[0].status.health is defined
    - r_argocd_app.resources[0].status.health.status is defined
    - r_argocd_app.resources[0].status.health.status == "Healthy"
  retries: 60
  delay: 10
  failed_when: false

- name: Get all InferenceService resources
  kubernetes.core.k8s_info:
    api_version: serving.kserve.io/v1alpha1
    kind: LLMInferenceService
  register: r_inference_services

- name: Get all api_key secrets
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: maas-api-keys
    label_selectors:
      - authorino.kuadrant.io/managed-by=authorino
  register: r_api_secrets

- name: Inference Service data
  agnosticd.core.agnosticd_user_info:
    data: "{{ {item.spec.model.name: {'model_url': 'https://maas.' + openshift_cluster_ingress_domain + '/' + item.metadata.namespace + '/' + item.metadata.name}} }}"
  loop: "{{ r_inference_services.resources }}"

- name: Inference Service data
  agnosticd.core.agnosticd_user_info:
    data:
      model_name_{{ loop.index }}: "{{ item.spec.model.name }}"
      model_url_{{ loop.index }}: "https://maas.{{ openshift_cluster_ingress_domain }}/{{ item.metadata.namespace }}/{{ item.metadata.name }}"
  loop: "{{ r_inference_services.resources }}"

- name: Generate API user data
  agnosticd.core.agnosticd_user_info:
    data: "{{ {item.metadata.annotations['user.authorino.kuadrant.io/userid']: {'api_key': item.data.api_key | b64decode, 'tier': item.metadata.annotations['user.authorino.kuadrant.io/groups']}} }}"
  loop: "{{ r_api_secrets.resources }}"

- name: Print Inference Service data
  agnosticd.core.agnosticd_user_info:
    msg: |
      MODEL_URL=https://maas.{{ openshift_cluster_ingress_domain }}/{{ item.metadata.namespace }}/{{ item.metadata.name }}
      MODEL_NAME={{ item.spec.model.name }}
  loop: "{{ r_inference_services.resources }}"

- name: Print API user data
  agnosticd.core.agnosticd_user_info:
    msg: |
      API_USER={{ item.metadata.annotations['user.authorino.kuadrant.io/userid'] }}
      API_KEY={{ item.data.api_key | b64decode }}
      TIER={{ item.metadata.annotations['user.authorino.kuadrant.io/groups'] }}
  loop: "{{ r_api_secrets.resources }}"

- name: Print example curl data
  agnosticd.core.agnosticd_user_info:
    msg: |
      curl -sSk \
      -H "API-KEY: ${API_KEY}" \
      -H "Content-Type: application/json" \
      -d '{"model":"'${MODEL_NAME}'","messages":[{"role":"user","content":"Hello"}],"max_tokens":50}' \
      "${MODEL_URL}/v1/chat/completions"