---
- name: Generate model data
  agnosticd.core.agnosticd_user_info:
    user: "{{ n }}"
    data: >-
      {{
        {
          'model_name_' ~ (idx | string): item.spec.model.name,
          'model_url_' ~ (idx | string): 'https://maas.' ~ openshift_cluster_ingress_domain ~ '/' ~ item.metadata.namespace ~ '/' ~ item.metadata.name
        }
      }}
  loop: "{{ r_inference_services.resources }}"
  loop_control:
    index_var: idx

- name: Generate API user data
  agnosticd.core.agnosticd_user_info:
    user: "{{ n }}"
    data: >-
      {{
        {
          'api_user_' ~ (idx | string): item.metadata.annotations['user.authorino.kuadrant.io/userid'],
          'api_key_' ~ (idx | string): item.data.api_key | b64decode,
          'api_tier_' ~ (idx | string): item.metadata.annotations['user.authorino.kuadrant.io/groups']
        }
      }}
  loop: "{{ r_api_secrets.resources }}"
  loop_control:
    index_var: idx